.book-info-wrapper{
  font-weight: 600;
  font-size: 16px;
}

.book-info-contents span{
  color: #f57e53;
  margin-left: 6px;
  font-weight: 600;
}

.book-info-button button{
  height: 70px;
  flex-grow: 1;
}

.book-info-button button:hover{
  color: white;
  background-color: #f57e53;
}