@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Pretendard', sans-serif;
  max-width: 1024px;
  margin: 0 auto;   
  padding: 0 1rem;
}

.font-logo{
  font-family: 'Cafe24Moyamoya-Regular-v1.0';
}