.main-div{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.main-title{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  margin-bottom: 0;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
}

.main-link{
  font-size: 14px;
  color: #9CA3AF;
  margin-right: 8px;
}

.main-book-container{
  display: flex;
  justify-content: space-between;
  padding: 0.375rem;
}

.main-book-card{
  border-radius: 0.5rem;
  width: 190px;
  height: 320px;
  transition: transform 0.3s;
}

.main-book-cover {
  width: 190px;
  height: 260px;
  display: block;
  margin: auto; 
}

.main-book-card:hover{
  transform: translateY(-0.5rem);
}

.main-book-info{
  margin-top: 20px;
  margin-left:4px;
    text-align: left;
    font-size: 1.1rem;
    color: #555;
}

.main-book-title{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.main-book-author{
  font-size: 12px;
  color: #777;
}