h2{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.book-cover {
  width: 100%; /* 이미지가 컨테이너의 전체 너비를 채우도록 설정 */
  height: 100%; /* 이미지가 컨테이너의 전체 높이를 채우도록 설정 */
  object-fit: cover; /* 비율을 유지하면서 컨테이너를 가득 채우도록 설정 */
  display: block;
  margin: auto; /* 이미지를 수평 가운데로 정렬 */
}
