.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-size: cover; /* 배경 이미지가 모달 크기에 맞도록 설정 */
  background-position: center; /* 배경 이미지를 중앙에 맞춤 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: transparent; /* 배경색 제거 */
}

.modal-text {
  background-color: rgba(0, 0, 0, 0.5); /* 텍스트 배경을 반투명 검정으로 설정 */
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
  width: 100%;
}

.modal-download,
.modal-close {
  position: absolute;
  top: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.modal-download {
  right: 70px; /* 두 버튼 간의 간격 유지 */
}

.modal-close {
  right: 40px;
}
