.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-polaroid {
  width: 550px;
  height: 900px;
  background-color: white;
  position: relative;
  /* 자식 요소의 위치 조정을 위해 필요 */
  display: flex;
  flex-direction: column;
  /* 수직 정렬 */
  justify-content: center;
  /* 수평 중앙 정렬 */
  align-items: center;
}

.modal-content {
  background-size: cover;
  /* 배경 이미지가 모달 크기에 맞도록 설정 */
  background-position: center;
  /* 배경 이미지를 중앙에 맞춤 */
  background-repeat: no-repeat;
  /* 이미지 반복 방지 */
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 중앙 정렬 */
  width: 450px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: transparent;
  /* 배경색 제거 */
  margin: 0 auto;
  /* 중앙 정렬 */
}


.modal-signal {
  font-family: 'SF_HambakSnow';
  background-color: rgba(225, 225, 225, 0.75);
  /* 텍스트 배경을 반투명 흰색으로 설정 */
  width: 300px;
  height: auto;
  min-height: 200px;
  padding: 20px;
  border-radius: 8px;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.modal-summ {
  position: absolute;
  top: 620px;
  /* .modal-content 밑 50px */
  width: 450px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.modal-download,
.modal-close {
  position: absolute;
  background: none;
  cursor: pointer;
  color: black;
  opacity: 0.7;
}

.modal-download {
  font-size: 23px;
  top: -40px;
  right: 20px;
  /* 두 버튼 간의 간격 유지 */
}

.modal-close {
  font-size: 32px;
  top: -45px;
  right: -25px;
}

.summary {
  margin-top: 50px;
  /* 상단에 약간의 여백 추가 */
}

@font-face {
  font-family: 'SF_HambakSnow';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}