.custom-button {
    background-color: white;
    color: black;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid transparent;
    /* 기본 테두리 설정 */
    margin-right: 10px;
}

.custom-button:hover {
    border-color: #5b8cff;
    /* hover 시 테두리 색상 변경 */
}

.bookmark-settings {
    padding: 20px;
}

.remove-button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px
}

.remove-button:hover {
    color: darkred;
}

.bookmark-list {
    margin-top: 10px;
    padding-left: 20px;
    /* 들여쓰기 효과를 위해 padding-left 추가 */
}


.custom-button:active {
    background-color: #004085;
    /* 클릭 시 배경색 변경 */
    transform: translateY(0);
    /* 클릭 시 원래 위치로 */
}

.bookmark-list button {
    margin-bottom: 10px;
    text-align: left;
}

.bookmark-list button:hover {
    background-color: #f0f0f0;
    /* 호버 시 배경색 변경 */
}

.bookmark-settings,
.font-settings {
    padding: 20px;
}

.bookmark-settings h3,
.font-settings h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.font-settings button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
}

.font-settings button:hover {
    background-color: #e2e6ea;
}

.font-settings button:active {
    background-color: #dae0e5;
}

.bookmark-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}