.search-report-container {
    padding: 20px;
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.search-summary {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.search-summary p {
    margin-left: 10px;
    font-size: 1.25rem;
}

.book-results {
    margin-top: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    /* 카드의 최소 너비를 220px로 설정 */
    gap: 40px;
    /* 책 카드들 사이의 간격을 40px로 설정 */
}

.book-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    border: 1px solid #e0e0e0;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    width: 220px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* 카드 내용이 수직으로 쌓이도록 설정 */
    align-items: center;
    /* 자식 요소들이 카드 중앙에 오도록 설정 */
    justify-content: flex-start;
    /* 요소들이 카드 상단부터 배치되도록 설정 */
    height: 400px;
    /* 자동으로 카드 높이 조정 */
}

/* 책 카드에 마우스 오버 시 살짝 위로 올라가는 효과 */
.book-card:hover {
    transform: translateY(-10px);
    /* 마우스 오버 시 10px 위로 이동 */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    /* 더 큰 그림자 효과 */
}

.search-book-cover {
    width: 190px;
    height: 260px;
    max-width: 200px;
    /* 이미지의 최대 너비를 설정 */
    max-height: 300px;
    /* 이미지의 최대 높이를 설정 */
    object-fit: cover;
    /* 이미지가 비율을 유지하며 잘 맞도록 설정 */
    border-radius: 10px;
    margin-bottom: 5px;
    /* 사진과 제목 사이의 간격을 줄이기 위해 5px로 조정 */
}

.book-info {
    width: 100%;
    text-align: center;
}

.search-book-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 제목이 길 경우 ...으로 표시 */
}

.book-author {
    font-size: 0.875rem;
    color: #555;
    border-top: 1px solid #e0e0e0;
    padding-top: 5px;
    margin-top: 5px;
    text-align: center;
}